.clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--blacklish);
    margin-bottom: 50px;
}

.clients__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width:375px) {
        justify-content: space-between;
    }
}

.clients__element {
    margin-right: 0px;
    max-width: 210px;

    &:nth-child(-n+4) {
        margin-bottom: 30px;
    }
}

.clients__link {
    display: block;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover svg,
    &:focus svg {
        fill: var(--bluelish);
    }

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid var(--bluelish);
    }
}

.clients__icon {
    display: block;
    margin: 0 auto;
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--bluelish);
    }
}

@media screen and (min-width:768px) {
    .clients__menu {
        display: unset;
        display: flex;
    }

    .clients__element {
        display: unset;
        width: 226px;

        &:nth-child(-n+4) {
            margin-bottom: 0px;
        }

        &:nth-child(-n+3) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width:1200px) {
    .clients__title {
        font-size: 36px;
        line-height: 42px;
        line-height: 100%;
        color: var(--blacklish);
    }


    .clients__menu {
        display: flex;
        flex-wrap: nowrap;
    }

    .clients__element:not(:last-child) {
        margin-right: 30px;

        &:nth-child(-n+4) {
            margin-bottom: 0px;
        }
    }
}